/*
* HEADER
*/

.site-header {
    padding-top: $su*2;
    padding-bottom: $su*2;
    margin-bottom:$su*4;
    display: flex;
    justify-content: space-between;
}

.site-logo {
    display: block;
    position: fixed;
    max-width: 200px;
}


